<div class="row">
  <div class="col-md-6">
    <h1>{{video.title}}</h1>
    <h2 class="text-h2">{{video.subtitle}}</h2>
    {{#each slide in video.slides}}
      {{kane-slide slide=slide}}
    {{else}}
      <h3 class="text-danger">No slides</h3>
    {{/each}}
  </div>

  <div class="col-md-6">
    {{kane-video-wrapper
      src=video.mp4_url}}
  </div>
</div>
