<div class="slide-thumbnails">
  <ol>
    {{#each slide in slides}}
      <li>{{slide.title}}</li>
    {{/each}}
  </ol>
</div>

<div class="video-details">
  <form role="form">
    <fieldset>
      {{#kane-input-floatlabel value=title label="TITLE"}}
        {{input value=title
          classNames="form-component"
          placeholder="TITLE"}}
      {{/kane-input-floatlabel}}
      {{#kane-input-floatlabel value=subtitle label="SUBTITLE"}}
        {{input value=subtitle
          classNames="form-component"
          placeholder="SUBTITLE"}}
      {{/kane-input-floatlabel}}
      {{#kane-input-floatlabel value=summary label="SUMMARY"}}
        {{textarea value=summary
          classNames="form-component"
          placeholder="SUMMARY"}}
      {{/kane-input-floatlabel}}
    </fieldset> 
  </form>
</div>

<div class="video-container">
  <video {{bind-attr src=mp4_url}} height="100%" width="100%">
  </video>
</div>

<div class="slide-container">
  {{outlet}}
</div>
