<div class="page-section">
  <ol class="slide-thumbnails">
    {{#each slide in slides}}
      {{#link-to "slide" slide
        tagName="li"
        classNames="thumbnail-slide"}}
        <small class="slide-number">{{slide.number}}</small>
        <p class="slide-content">{{upperCase slide.title}}</p>
      {{/link-to}}
    {{/each}}
  </ol>
</div>

<section class="page-section">
  <aside class="detail-panel">
    <div class="video-container">
      <video {{bind-attr src=mp4_url}}
        height="100%"
        width="100%"
        controls>
      </video>
    </div>

    <div class="video-details">
      <form role="form">
        <fieldset>
          {{#kane-input-floatlabel value=title label="TITLE"}}
            {{input value=title
              classNames="form-control"
              placeholder="TITLE"}}
          {{/kane-input-floatlabel}}
          {{#kane-input-floatlabel value=subtitle label="SUBTITLE"}}
            {{input value=subtitle
              classNames="form-control"
              placeholder="SUBTITLE"}}
          {{/kane-input-floatlabel}}
          {{#kane-input-floatlabel value=summary label="SUMMARY"}}
            {{textarea value=summary
              classNames="form-control"
              placeholder="SUMMARY"}}
          {{/kane-input-floatlabel}}
        </fieldset> 
      </form>
    </div>
  </aside>

  <div>
    {{outlet}}
  </div>
</section>
