<header class="row">
  <section class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        {{#kane-input-floatlabel value=title label="TITLE"}}
          {{input
            value=title
            classNames="input-lg bare form-control"
            placeholder="TITLE"}}
        {{/kane-input-floatlabel}}

        {{#kane-input-floatlabel value=subtitle label="SUBTITLE"}}
          {{input
            value=subtitle
            classNames="input-lg bare form-control"
            placeholder="SUBTITLE"}}
        {{/kane-input-floatlabel}}
      </div>

      <div class="col-md-6">
        {{#kane-input-floatlabel value=summary label="SUMMARY"}}
          {{textarea
            value=summary
            rows=4
            classNames="input-lg bare form-control"
            placeholder="SUMMARY"}}
        {{/kane-input-floatlabel}}
      </div>
    </div>
  </section>
</header>


<section class="col-md-6">
  <header class="row">
    <div class="col-md-12 well well-sm">
      <small>SLIDES (MARKDOWN)</small>
    </div>
  </header>

  <section class="row">
    <div class="col-md-12">
      {{#each slide in slides}}
        {{kane-slide-editable slide=slide}}
      {{else}}
        <h3 class="text-danger">No slides</h3> 
      {{/each}}
    </div>
  </section>
</section>

<section class="col-md-6">
  <header class="row">
    <div class="col-md-12 well well-sm">
      <small>PREVIEW</small>
    </div>
  </header>

  <div class="row">
    <div class="col-md-12">
      {{#each slide in slides}}
        {{kane-slide slide=slide}}
      {{else}}
        <h3 class="text-danger">No slides</h3> 
      {{/each}}
    </div> 
  </div>  
</section>
